/* Cachet Custom Stylesheet -> ./dashboard/settings/stylesheet */
/* (JC) Backup available at -> https://github.com/jonathancraddock/Cachet-Config/blob/main/stylesheet.css */

@font-face { font-family: GDS-Transport-Light; src: url(/fonts/gds-transport-light.woff2); }
@font-face { font-family: GDS-Transport-Bold; src: url(/fonts/gds-transport-bold.woff2); }

/* override default Cachet font with GDS-Transport */
body.status-page {
    font-family: GDS-Transport-Light, -apple-system,BlinkMacSystemFont,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.66em;
}

/* styles the black header bar */
.header-banner {
    background-color: black;
    color: #fdfdfd;
    margin-top: -40px;
    height: 50px;
    padding-top: 7px;
}

/* purple 'highlight' bar below black header bar */
.header-underline {
  background-color: #8a61c6;
  height: 8px;
  margin-bottom: 20px;
  margin-left: -5px;
  margin-right: -4px;
}

/* logo and link on header bar */
.header-group:hover {
  border-bottom: 2px solid white;
  display: inline-block;
  padding: 0 0 14px 0;
  cursor: pointer;
}

/* active link clicked on header bar */
.header-group:active, .header-group:focus {
  display: inline-block;
  background-color: #1115ff;
  filter: invert();
  padding: 0 0 14px 0;
  cursor: pointer;
}

/* crown (SVG) logo on black header bar */
.header-logo {
  height: 30px;
  width: auto;
  margin-top: 2px;
  filter: invert();
}

/* white bold text, right of header logo */
.header-link {
  font-weight: 600;
  font-size: 29px;
  line-height: 0;
  padding-left: 46px;
  font-family: GDS-Transport-Bold;
  margin-top: -13px;
  color: white;
}

/* re-style the "about-app" box, white on blue */
body.status-page .about-app {
  margin-bottom: 20px;
  background-color: #1d70b8;
  padding: 10px 20px;
  color: white;
}

/* targets the "about-app" markdown, default white on blue */
div.about-app p, div.about-app p strong {
  color: white !important;
  padding-top: 8px;
}

/* targets links inside of the "about-app" panel */
div.about-app p a {
  color: #c4bbff;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 1px solid #c4bbff;
}

/* targets active links inside of the "about-app" panel */
div.about-app p a:hover {
  background-color: #256195;
  border-bottom: 2px solid #c4bbff;
}

/* required to enable positioning of 'refresh' button */
div.about-app p:last-child {
  position: relative;
  padding-bottom: 32px;
}

/* targets 'refresh' button (final link) in "about-app" panel */
div.about-app p:last-child a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 3px solid #4d0e6a;
  background-color: #794fb7;
  padding: 4px 16px 4px 16px;
  position: absolute;
  right: -8px;
  display: block;
  bottom: -10px;
}

/* highlight the scheduled mainenance info panel */
.section-scheduled {
  border: 1px solid #3929a8;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* bold the "maintenance" panel heading */
.panel-heading strong {
  font-family: GDS-Transport-Bold;
  font-size: 2rem;
  color: #484848 !important;
}

/* bold the "component group" heading to match maintenance panel */
.group-name strong {
    font-family: GDS-Transport-Bold;
    font-size: 2rem;
    color: #484848 !important;
}

/* targets links in body of page, including incidents */
.links {
  color: #7266ba !important;
}

/* reduces spacing and bolds H1 title text */
.h1, h1 {
  font-family: GDS-Transport-Bold;
  display: inline-block;
  margin-top: 8px;
  line-height: 0.8;
}

/* hide the "history" title */
div.section-timeline h1 {
  display: none;
}

/* hide the "history" title */
  div.section-timeline h4 {
  margin-bottom: 10px;
}

/* tighten spacing of date relative to incident history panels */
div.section-timeline h4 {
  margin-bottom: 6px !important;
  margin-left: 6px;
  font-size: medium;
}

/* targets the "About This Page" default title, and hides it */
div.about-app .h2, h2 {
  font-size: 4rem;
  line-height: 0.7;
  background-color: #1d70b8;
  font-weight: bold;
  display: none;
}

/* Tightens up the spacing at the beginning of the "previous incidents" section */
body.status-page .timeline .content-wrapper {
    margin-top: 0px;
    margin-bottom: 32px;
}

/* Slightly tightens up the "previous incident" text boxes */
body.status-page h1, body.status-page h2, body.status-page h3, body.status-page h4, body.status-page h5 {
    margin-bottom: 18px;
}

/* Prevents group title being overridden by white text heading defaults */
.list-group-item strong {
    color: #333 !important;
}

/* style the pop-up tooltip */
.tooltip {
  background-color: #eadef0 !important;
  border: 1px solid black;
  padding: 7px !important;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* incident custom */
.navbar { min-height:30px; }
body.status-page .navbar-custom {margin-left: 100%; }
.container > .navbar-collapse, .container > .navbar-header { display: none; }
.navbar-right { display:none; }
